.grid {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: light-green;
  opacity: 100%;
  position: relative;
  overflow-y: scroll;
}

.grid-cell {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
}

.grid-cell-title {
  padding: 5px;
}

.grid-scroll-wrapper {

}

.grid-cell-container {
  box-sizing: border-box;
  border: 1px solid black;
}